<section class="p-5">
  <h1 class="text-4xl font-bold mb-4">Assaf-TabView</h1>
  <p class="text-gray-600">
    Assaf-Tabview Panel is a generic component that has all Tabview & modes
  </p>

  <!-- Imports -->
  <div class="mt-10">
    <h2 class="text-xl font-bold">Imports</h2>
    <div class="mt-5">
      <p class="text-gray-600 mb-3">
        In your desired module add the below import:
      </p>
      <assaf-documentation-code-block [tsText]="install.import">
      </assaf-documentation-code-block>
    </div>
  </div>

  <div class="mt-10 mb-10">
    <h2 class="text-xl font-bold">Basic usage</h2>
    <div class="mt-5">
      <p class="text-gray-600 mb-3">
        To start using assaf-tabview you must provide array of
        <span class="text-[var(--orange-color)] font-bold">items</span>
        containing components that must be
        <span class="text-[var(--orange-color)] font-bold">standalone</span>
      </p>
      <assaf-documentation-code-block
        [htmlText]="install.htmlUse"
        [tsText]="install.tsUse"
      >
      </assaf-documentation-code-block>
    </div>
  </div>

  <!-- Properties & events -->
  <assaf-documentation-tab-view-table></assaf-documentation-tab-view-table>
</section>
