.styleClass{
    margin: 0 auto ;
    border: none !important;
}

.activeImageClass{
    background-color: green;
    overflow: hidden !important;
    .overlayClass{
        transform: scale(1.5) !important;
        color:  green !important;
        background-color: red !important;
    }
}
.uploaderClass{
    width: 200px !important;
    background-color: palevioletred !important;
}

