<p-tabView
  [scrollable]="(_isMobile | async)! <= 425"
  styleClass="{{ _isMobile.value <= 768 ? 'center-tabview' : '' }}"
>
    <p-tabPanel header="Properties" leftIcon="pi pi-cog">
      <ng-template pTemplate="content">
        <assaf-data-table
          [tableColumns]="_headers"
          [data]="_properties"
        ></assaf-data-table
      ></ng-template>
    </p-tabPanel>

    <p-tabPanel header="Interfaces" leftIcon="pi-code pi">
      <ng-template pTemplate="content">
        <h3 class="font-bold text-xl mb-3">&lt;MenuItem&gt; Interface</h3>
        <assaf-data-table
          [tableColumns]="_generalHeaders"
          [data]="_interfaces"
        ></assaf-data-table>
        <p class="text-gray-600 font-bold">* ? indicates optional parameter</p>
      </ng-template>
    </p-tabPanel>
  </p-tabView>