<section class="p-7">
  <h1 class="text-4xl font-bold mb-4">Emarsys</h1>
  <p>
    Emarsys is a marketing automation platform that helps businesses create and
    deliver personalized marketing campaigns across multiple channels, including
    email, mobile, social media, and web. Emarsys uses artificial intelligence
    and machine learning to analyze customer behavior and provide insights that
    can be used to improve marketing performance. The platform includes tools
    for segmentation, email marketing, mobile marketing, social media marketing,
    web personalization, and analytics. Emarsys was founded in 2000 and is
    headquartered in Vienna, Austria, with offices around the world. In 2020,
    Emarsys was acquired by the SAP Customer Experience division of SAP SE.
    more info about emarsys from <b> <a class="underline" href="https://dev.emarsys.com/docs/web-extend/1bf36e101d6be-what-is-web-extend-data-collection" target="_blank">here</a> </b>
  </p>

  <div class="mt-8">
    <p class="font-bold">Step 1 :</p>
    <p>
      Should Be Made
      <span class="font-bold text-blue-600">"allowJs": true</span> in
      <span class="font-extrabold"> tsconfig.json</span> For Emarsys
      Implementions
    </p>
    <assaf-documentation-code-block [tsText]="steps.tsconfig">
    </assaf-documentation-code-block>
  </div>
  <div class="mt-8">
    <p class="font-bold">Step 2 :</p>
    <p>
      You need to add this Script in <span class="font-bold">index.html</span>
    </p>
    <assaf-documentation-code-block [tsText]="steps.teHtml">
    </assaf-documentation-code-block>
  </div>
  <div class="mt-8">
    <p class="font-bold">Step 3 :</p>
    <p>Using EmarsysService</p>
    <assaf-documentation-code-block [tsText]="steps.howToUse">
    </assaf-documentation-code-block>
  </div>
  <div class="mt-8">
    <assaf-documentation-emarsys-table></assaf-documentation-emarsys-table>
  </div>
</section>
