<section class="p-5">
  <assaf-documentation-example-container
    [html]="examples.textBasic"
    styleClass="flex mb-4 gap-4 flex-col"
    title="Basic"
  >
    <assaf-progress-spinner class="m-auto"></assaf-progress-spinner>
  </assaf-documentation-example-container>
  <assaf-documentation-example-container
    [html]="examples.textStrocke"
    styleClass="flex mb-4 gap-4 flex-col"
    title="Strocke Width"
  >
    <assaf-progress-spinner
      strokeWidth="10"
      class="m-auto"
    ></assaf-progress-spinner>
  </assaf-documentation-example-container>
</section>
