<section class="p-7">
  <h1 class="text-4xl font-bold mb-4">MetaTagsService</h1>
  <div class="mt-10">
    <p class="text-gray-600 mb-3">
      Meta tags are used to provide metadata for a web page, such as the title, description, keywords, author, etc. Meta tags are important for <b class="text-red-600">Search Engine Optimization, social sharing, browser compatibility and security settings</b>. MetaTagsService allows you to add, update, remove meta tags dynamically using methods such as addMetaTag(), updateMetaTag(), removeMetaTag().
    </p>
    <p class="text-red-900 m-3 text-xl">How to use MetaTagsService ?</p>
  </div>
  <assaf-documentation-code-block [tsText]="steps.howToUse">
  </assaf-documentation-code-block>
</section>
