<section class="p-5">
  <h1 class="text-4xl font-bold mb-4">Assaf-Profile-Dropdown</h1>
  <p class="text-gray-600">
    Profile dropdown is a component made specifically to be used as a dropdown
    for logged in user
  </p>

  <!-- Imports -->
  <div class="mt-10">
    <h2 class="text-xl font-bold">Imports</h2>
    <div class="mt-5">
      <p class="text-gray-600 mb-3">
        In your desired module add the below import:
      </p>
      <assaf-documentation-code-block [tsText]="_install.import">
      </assaf-documentation-code-block>
    </div>
  </div>

  <!-- Basic usage -->
  <div class="my-10 mb-10">
    <h2 class="text-xl font-bold">Basic usage</h2>
    <div class="mt-5">
      <p class="text-gray-600 mb-3">
        To start using assaf-profile-dropdown you have to pass value to
        <span class="text-[var(--orange-color)] font-bold">data</span>
        attribute
      </p>
      <assaf-documentation-code-block
        [htmlText]="_install.htmlUse"
        [tsText]="_install.tsUse"
      >
      </assaf-documentation-code-block>
    </div>
  </div>

  <!-- Properties & events -->
<assaf-documentation-profile-dropdown-table></assaf-documentation-profile-dropdown-table>
</section>
