<p-tabView
  [scrollable]="(_isMobile | async)! <= 425"
  styleClass="{{ _isMobile.value <= 768 ? 'center-tabview' : '' }}"
>
  <!-- Properties -->
  <p-tabPanel header="Properties" leftIcon="pi pi-cog">
    <ng-template pTemplate="content">
      <!-- Datatable -->
      <assaf-data-table
        [tableColumns]="_headers"
        [data]="_properties"
      ></assaf-data-table>
    </ng-template>
  </p-tabPanel>

  <!-- Interfaces -->
  <p-tabPanel header="Interfaces" leftIcon="pi-code pi">
    <ng-template pTemplate="content">
      <!-- Tablecolumn interface -->
      <div>
        <h3 class="font-bold text-xl mb-3">
          &lt;FormInputErrors&gt; Interface
        </h3>
        <assaf-data-table
          [tableColumns]="_generalHeaders"
          [data]="_interfaces"
        ></assaf-data-table>
        <p class="text-gray-600 font-bold">* ? indicates optional parameter</p>
      </div>
    </ng-template>
  </p-tabPanel>
</p-tabView>
