<section class="p-5">
  <h1 class="text-4xl font-bold mb-4">Assaf-Skeleton</h1>
  <p class="text-gray-600">
    Assaf-Skeleton Panel is a generic component that has all Skeleton & modes
  </p>

  <!-- Imports -->
  <div class="mt-10">
    <h2 class="text-xl font-bold">Imports</h2>
    <div class="mt-5">
      <p class="text-gray-600 mb-3">
        In your desired module add the below import:
      </p>
      <assaf-documentation-code-block [tsText]="install.import">
      </assaf-documentation-code-block>
    </div>
  </div>

  <!-- Basic usage -->
  <div class="mt-10 mb-10">
    <h2 class="text-xl font-bold">Basic usage</h2>
    <div class="mt-5">
      <p class="text-gray-600 mb-3">
        To start using assaf-seleton you have to pass value to
        <span class="text-[var(--orange-color)] font-bold">width</span>
        attribute
      </p>
      <assaf-documentation-code-block [htmlText]="install.usage.htmlUse">
      </assaf-documentation-code-block>
    </div>
  </div>

  <assaf-documentation-skeleton-properties></assaf-documentation-skeleton-properties>
</section>
