<section class="p-5">
  <h1 class="text-4xl font-bold mb-4">Access layer</h1>
  <p class="text-gray-600" [innerHTML]="initialize.defination | safehtml"></p>

  <!-- Steps  -->
  <div class="my-10">
    <h2 class="text-xl font-bold">steps</h2>
    <ol>
      <li class="mt-5">
        <p class="text-gray-600 mb-3">
          Step 1 / Inject HttpClientModule module into your app module
        </p>
        <assaf-documentation-code-block [tsText]="initialize.setup">
        </assaf-documentation-code-block>
      </li>
      <li class="mt-5">
        <p class="text-gray-600 mb-3">
          Step 2 / Import and inject the service in your component's constructor
        </p>
        <assaf-documentation-code-block [tsText]="initialize.Import">
        </assaf-documentation-code-block>
      </li>
      <li class="mt-5">
        <p class="text-gray-600 mb-3">
          Step 3 / Initializes service with urls and Loads all data on GET url
          to hold data in observable
        </p>
        <assaf-documentation-code-block [tsText]="initialize.initialize">
        </assaf-documentation-code-block>
      </li>
      <li class="mt-5">
        <p class="text-gray-600 mb-3">Step 4 / State Management</p>
        <assaf-documentation-code-block [tsText]="initialize.Management">
        </assaf-documentation-code-block>
      </li>
    </ol>
  </div>
  <section>
    <!-- Table -->
    <assaf-documentation-acces-layer-table></assaf-documentation-acces-layer-table>
  </section>
</section>
