<!-- Container for demo purpose -->
<div class="container my-8 px-6 mx-auto">
  <!-- Section: Design Block -->
  <section class="mb-32 text-gray-800 text-center">
    <h1 class="text-3xl font-bold mb-6 cursor-default">
      Meet The <strong class="text-blue-800">Team</strong>
      <i class="pi pi-users ms-2 text-2xl text-blue-800"></i>
    </h1>

    <blockquote
      class="text-xl italic font-semibold text-blue-800 m-6 dark:text-white"
    >
      <p class="drop-shadow-lg">
        "Let's make it all for one and all for love."
      </p>

      <cite class="text-sm text-gray-500"> &mdash; Mohammed Assaf</cite>
    </blockquote>
    <div class="grid md:grid-cols-2 lg:grid-cols-4 gap-x-6 lg:gap-xl-12">
      <div class="mb-6 lg:mb-0 team-card">
        <img
          class="rounded-full shadow-lg mb-6 mx-auto"
          src="assets/our-team/mohamedAssaf.jfif"
          alt="avatar"
          style="width: 150px; height: 150px"
        />
        <h5 class="text-lg font-bold mb-3">Mohamed Assaf</h5>
        <p class="mb-3">Frontend Developer</p>
        <ul class="list-inside flex mx-auto justify-center">
          <a
            target="_blank"
            href="https://github.com/Mohammed-Assaf"
            class="px-2 github me-2"
          >
            <i class="pi pi-github"></i>
          </a>
          <a
            target="_blank"
            href="https://www.linkedin.com/in/mohammed-assaf-7a08a8133"
            class="px-2 linkedin"
          >
            <i class="pi pi-linkedin"></i>
          </a>
        </ul>
      </div>
      <div class="mb-6 lg:mb-0 team-card">
        <img
          class="rounded-full shadow-lg mb-6 mx-auto"
          src="assets/our-team/karimMamdouh.jfif"
          alt="avatar"
          style="width: 150px; height: 150px"
        />
        <h5 class="text-lg font-bold mb-3">Karim Mamdouh</h5>
        <p class="mb-3">Frontend Developer</p>
        <ul class="list-inside flex mx-auto justify-center">
          <a
            target="_blank"
            href="https://github.com/karim-mamdouh"
            class="px-2 github me-2"
          >
            <i class="pi pi-github"></i>
          </a>
          <a
            target="_blank"
            href="https://www.linkedin.com/in/karim-mamdouh-mohamed/"
            class="px-2 linkedin"
          >
            <i class="pi pi-linkedin"></i>
          </a>
        </ul>
      </div>
      <div class="mb-6 md:mb-0 team-card">
        <img
          class="rounded-full shadow-lg mb-6 mx-auto"
          src="assets/our-team/alaaEzzat.jfif"
          alt="avatar"
          style="width: 150px; height: 150px"
        />
        <h5 class="text-lg font-bold mb-3">Alaa Ezzat</h5>
        <p class="mb-3">Frontend Developer</p>
        <ul class="list-inside flex mx-auto justify-center">
          <a
            target="_blank"
            href="https://github.com/AlaaEzzzat"
            class="px-2 github me-2"
          >
            <i class="pi pi-github"></i>
          </a>
          <a
            target="_blank"
            href="https://www.linkedin.com/in/alaa-ezzat-158107132/"
            class="px-2 linkedin"
          >
            <i class="pi pi-linkedin"></i>
          </a>
        </ul>
      </div>
      <div class="mb-6 md:mb-0 team-card">
        <img
          class="rounded-full shadow-lg mb-6 mx-auto"
          src="assets/our-team/ahmed.jfif"
          alt="avatar"
          style="width: 150px; height: 150px"
        />
        <h5 class="text-lg font-bold mb-3">Ahmed Mostafa</h5>
        <p class="mb-3">Frontend Developer</p>
        <ul class="list-inside flex mx-auto justify-center">
          <a
            target="_blank"
            href="https://github.com/AhMEedMOStfa"
            class="px-2 github me-2"
          >
            <i class="pi pi-github"></i>
          </a>
          <a
            target="_blank"
            href="https://www.linkedin.com/in/ahmed-mostafa-195974106"
            class="px-2 linkedin"
          >
            <i class="pi pi-linkedin"></i>
          </a>
        </ul>
      </div>
      <div class="mt-6 md:mb-0 team-card">
        <img
          class="rounded-full object-cover object-top shadow-lg mb-6 mx-auto"
          src="assets/our-team/mohamedHassan.jpg"
          alt="avatar"
          style="width: 150px; height: 150px"
        />
        <h5 class="text-lg font-bold mb-3">Mohamed Hassan</h5>
        <p class="mb-3">Frontend Developer</p>
        <ul class="list-inside flex mx-auto justify-center">
          <a
            target="_blank"
            href="https://github.com/mohamedhassan4475"
            class="px-2 github me-2"
          >
            <i class="pi pi-github"></i>
          </a>
          <a
            target="_blank"
            href="https://www.linkedin.com/in/mohamed-hassan-a49945231"
            class="px-2 linkedin"
          >
            <i class="pi pi-linkedin"></i>
          </a>
        </ul>
      </div>
    </div>
  </section>
  <!-- Section: Design Block -->
</div>
<!-- Container for demo purpose -->
