<section class="p-7">
    <h1 class="text-4xl font-bold mb-4">Flag-Icons</h1>

    <p class="text-gray-600 mb-4">
     Flag icons is package that have A curated collection of all country flags in SVG — plus the CSS for easier integration, for more info follow this link <a href="https://www.npmjs.com/package/flag-icons" target="_blank" class="underline">https://www.npmjs.com/package/flag-icons</a> 
    </p>
    <p class="text-gray-600">
      Follow below steps to install & use flag-icons package
    </p>
     <!-- Install section -->
  <div class="mt-10">
    <h2 class="text-xl font-bold my-5">Install</h2>
    <!-- flag-icons-library install -->
    <div class="mt-5">
      <p class="text-gray-600 mb-3">For installing flag-icons-library:</p>
      <assaf-documentation-code-block otherText="npm i flag-icons">
      </assaf-documentation-code-block>
    </div>
    <!-- Usage section -->
    <h2 class="text-xl font-bold my-6">Styles</h2>
    <!-- flag-icons-library Usage -->
    <div class="mt-5">
      <p class="text-gray-600 my-3">First, In <b class="text-[var(--orange-color)]">angular.json</b> file find the styles array and add the following:</p>
      <assaf-documentation-code-block
        [tsText]="install.styles"
      >
      </assaf-documentation-code-block>
      <p class="text-xl font-bold my-6">Hint : For Examples Click <a class="text-red-500 underline"  [routerLink]="['/components/dropdown']" >here</a></p>
    </div>
  </div>
</section>
