<section class="p-5">
  <h1 class="text-4xl font-bold mb-4">Display</h1>
  <!-- Imports Arabic -->
  <div class="mt-10">
    <h2 class="text-xl font-bold">
      Display service is a service used to display assaf-toast/assaf-messages
    </h2>
    <div class="mt-5">
      <h2 class="text-xl font-bold">Imports</h2>
      <assaf-documentation-code-block [tsText]="install.import">
      </assaf-documentation-code-block>
    </div>
  </div>
  <div class="mt-7">
    <h2 class="text-xl font-bold">Display Message</h2>
    <div class="mt-5">
      <p class="text-gray-600 mb-3">
        To display message call the displayMessage function:
      </p>
      <assaf-documentation-code-block [tsText]="install.importMessage">
      </assaf-documentation-code-block>
    </div>
  </div>
  <div class="mt-7">
    <h2 class="text-xl font-bold">Display Toast</h2>
    <div class="mt-5">
      <p class="text-gray-600 mb-3">
        To display toast call the displayToast function:
      </p>
      <assaf-documentation-code-block [tsText]="install.importToast">
      </assaf-documentation-code-block>
    </div>
  </div>
</section>
